{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row gx-4">
                            <div class="col-auto my-auto">
                                <div class="h-100">
                                    <h5 class="mb-1">
                                        Sayo Kravits
                                    </h5>
                                    <p class="mb-0 font-weight-bold text-sm">
                                        +998999873665
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="card card-profile">
                        <div class="row">
                            <div class="col-lg-5">
                                <a href="javascript:;">
                                    <div class="position-relative">
                                        <div class="blur-shadow-image">
                                            <img class="w-100 rounded-3 shadow-lg"
                                                 src="./assets/img/kit/pro/brooke.jpg">
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-7 ps-0 my-auto">
                                <div class="card-body text-left">
                                    <div class="p-md-0 pt-3">
                                        <h5 class="font-weight-bolder mb-0">Joshua Jackson</h5>
                                        <p class="text-uppercase text-sm font-weight-bold mb-2">Landscape Architect</p>
                                    </div>
                                    <p class="mb-4">Success is not final, failure is not fatal: it is the courage to
                                        continue that counts...</p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <button type="button" class="btn btn-outline-warning btn-sm mb-0">Rezyumeni tahrirlash</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="d-flex align-items-center justify-content-between">
                    <button type="button" class="btn btn-outline-success btn-sm mb-0">Rezyume yaratish</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
{% endblock javascript %}