{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row mb-4">
                        <div class="input-group">
                            <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" placeholder="Vakansiya qidirish..." onfocus="focused(this)" onfocusout="defocused(this)">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
<!--                                    <a href="javascript:;" class="d-block">-->
<!--                                        <img src="./assets/img/kit/pro/anastasia.jpg" class="img-fluid border-radius-lg">-->
<!--                                    </a>-->
                                </div>
                                <div class="card-body pt-2">
<!--                                    <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">House</span>-->
                                    <a href="javascript:;" class="card-title h5 d-block text-darker">
                                        Vacancy title
                                    </a>
                                    <p class="card-description mb-4">
                                        Use border utilities to quickly style the border and border-radius of an element. Great
                                        for images, buttons.
                                    </p>
                                    <div class="author align-items-center">
<!--                                        <img src="./assets/img/kit/pro/team-2.jpg" alt="..." class="avatar shadow">-->
                                        <div class="name ps-3">
                                            <span>Mathew Glock</span>
                                            <div class="stats">
                                                <small>Posted on 28 February</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
<!--                                    <a href="javascript:;" class="d-block">-->
<!--                                        <img src="./assets/img/kit/pro/anastasia.jpg" class="img-fluid border-radius-lg">-->
<!--                                    </a>-->
                                </div>
                                <div class="card-body pt-2">
<!--                                    <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">House</span>-->
                                    <a href="javascript:;" class="card-title h5 d-block text-darker">
                                        Vacancy title
                                    </a>
                                    <p class="card-description mb-4">
                                        Use border utilities to quickly style the border and border-radius of an element. Great
                                        for images, buttons.
                                    </p>
                                    <div class="author align-items-center">
<!--                                        <img src="./assets/img/kit/pro/team-2.jpg" alt="..." class="avatar shadow">-->
                                        <div class="name ps-3">
                                            <span>Mathew Glock</span>
                                            <div class="stats">
                                                <small>Posted on 28 February</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
<!--                                    <a href="javascript:;" class="d-block">-->
<!--                                        <img src="./assets/img/kit/pro/anastasia.jpg" class="img-fluid border-radius-lg">-->
<!--                                    </a>-->
                                </div>
                                <div class="card-body pt-2">
<!--                                    <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">House</span>-->
                                    <a href="javascript:;" class="card-title h5 d-block text-darker">
                                        Vacancy title
                                    </a>
                                    <p class="card-description mb-4">
                                        Use border utilities to quickly style the border and border-radius of an element. Great
                                        for images, buttons.
                                    </p>
                                    <div class="author align-items-center">
<!--                                        <img src="./assets/img/kit/pro/team-2.jpg" alt="..." class="avatar shadow">-->
                                        <div class="name ps-3">
                                            <span>Mathew Glock</span>
                                            <div class="stats">
                                                <small>Posted on 28 February</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
<!--                                    <a href="javascript:;" class="d-block">-->
<!--                                        <img src="./assets/img/kit/pro/anastasia.jpg" class="img-fluid border-radius-lg">-->
<!--                                    </a>-->
                                </div>
                                <div class="card-body pt-2">
<!--                                    <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">House</span>-->
                                    <a href="javascript:;" class="card-title h5 d-block text-darker">
                                        Vacancy title
                                    </a>
                                    <p class="card-description mb-4">
                                        Use border utilities to quickly style the border and border-radius of an element. Great
                                        for images, buttons.
                                    </p>
                                    <div class="author align-items-center">
<!--                                        <img src="./assets/img/kit/pro/team-2.jpg" alt="..." class="avatar shadow">-->
                                        <div class="name ps-3">
                                            <span>Mathew Glock</span>
                                            <div class="stats">
                                                <small>Posted on 28 February</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
<!--                                    <a href="javascript:;" class="d-block">-->
<!--                                        <img src="./assets/img/kit/pro/anastasia.jpg" class="img-fluid border-radius-lg">-->
<!--                                    </a>-->
                                </div>
                                <div class="card-body pt-2">
<!--                                    <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">House</span>-->
                                    <a href="javascript:;" class="card-title h5 d-block text-darker">
                                        Vacancy title
                                    </a>
                                    <p class="card-description mb-4">
                                        Use border utilities to quickly style the border and border-radius of an element. Great
                                        for images, buttons.
                                    </p>
                                    <div class="author align-items-center">
<!--                                        <img src="./assets/img/kit/pro/team-2.jpg" alt="..." class="avatar shadow">-->
                                        <div class="name ps-3">
                                            <span>Mathew Glock</span>
                                            <div class="stats">
                                                <small>Posted on 28 February</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
<!--                                    <a href="javascript:;" class="d-block">-->
<!--                                        <img src="./assets/img/kit/pro/anastasia.jpg" class="img-fluid border-radius-lg">-->
<!--                                    </a>-->
                                </div>
                                <div class="card-body pt-2">
<!--                                    <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">House</span>-->
                                    <a href="javascript:;" class="card-title h5 d-block text-darker">
                                        Vacancy title
                                    </a>
                                    <p class="card-description mb-4">
                                        Use border utilities to quickly style the border and border-radius of an element. Great
                                        for images, buttons.
                                    </p>
                                    <div class="author align-items-center">
<!--                                        <img src="./assets/img/kit/pro/team-2.jpg" alt="..." class="avatar shadow">-->
                                        <div class="name ps-3">
                                            <span>Mathew Glock</span>
                                            <div class="stats">
                                                <small>Posted on 28 February</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="pagination-container justify-content-end mt-4">
                        <ul class="pagination pagination-success">
                            <li class="page-item {% if not orders.has_previous %}disabled{% endif %}">
                                <a class="page-link with-prev-row" href="" data-action="{% if orders.has_previous %}?page={{ orders.previous_page_number }}{% endif %}" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                                </a>
                            </li>

                            {% for i in orders.paginator.page_range %}
                                {% if orders.number > 5 and forloop.first %}
                                    <li class="page-item">
                                        <a class="page-link page-number" href="" data-action="1">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link page-number" href="" data-action="2">2</a>
                                    </li>
                                    <li class="page-item disabled">
                                      <a class="page-link page-number" href="" data-action="">...</a>
                                    </li>
                                {% endif %}
                                {% if orders.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link page-number" href="" data-action="{{ i }}">{{ i }}</a>
                                    </li>
                                {% elif i > orders.number|add:'-5' and i < orders.number|add:'5' %}
                                    <li class="page-item">
                                        <a class="page-link page-number" href="" data-action="{{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                                {% if orders.paginator.num_pages > orders.number|add:'5' and forloop.last %}
                                    <li class="page-item page-item">
                                        <a class="page-link page-number" href="" data-action="">...</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link page-number" href="" data-action="{{ orders.paginator.num_pages|add:'-1' }}">{{ orders.paginator.num_pages|add:'-1' }}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link page-number" href="" data-action="{{ orders.paginator.num_pages }}">{{ orders.paginator.num_pages }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            <li class="page-item {% if not orders.has_next %}disabled{% endif %}">
                                <a class="page-link with-next-row" href="" data-action="{% if orders.has_next %}?page={{ orders.next_page_number }}{% endif %}" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
{% endblock javascript %}
